@charset "UTF-8";

.back-img {
  background-image: url(../../image/coffee-background.jpg);
}

.img1 {
  height: 500px;
}

.back-norepeat {
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.back-center {
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
}

.back-center-img {
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
}